*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:  'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.75px;
}

.container {
    min-height: 100vh;
    background-color: #202124;
    color: #e8eaed;
    padding-top: 10px;
    
}


h1 {
    text-align: center;
}

#new-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 1em 0.75em;
    margin: 10px auto;
    width: 300px;
    min-height: 150px;
    border: 1px solid #5f6368;
    
}

#new-note div  {
    width: 100%;
}

#title {
    width: 100%;
    margin-bottom: 10px;
}

#title {
    font-size: 1.5rem;
}

#title:focus {
    outline: none;
}

#note-text p {
    min-height: 50px;
}
#note-text p:focus {
    outline: none;
}
#new-note p {
    opacity: 0.6;
}

#create-btn {
    display: block;
    margin: 0 auto;
    background-color: #202124;
    border: 1px solid #5f6368;
    color: #e8eaed;
    padding: 0.75em;
    border-radius: 10px;
    opacity: 0.7;
}

#create-btn:hover {
    opacity: 1;
    cursor: pointer;
}